<style>
    h1, h6 {
        font-size: 70;
        display: inline;
        text-align: center;
    }

    h6 {
        font-size: large;
        font-weight: normal;
        font-style: italic;
    }

    p {
        font-size: large;
        display: inline;
    }

    .inline {
        display: inline;
    }

    .inline_block {
        display: inline-block;
    }

    .timestamps {
        float: right;
        width: 35%;
    }

    .r {
        float: right;
        margin-right: 5%;
    }

    .secret_form {
        display: inline-flex;
    }

    .column {
        float: left;
    }
    .chat_column{
        float: left;
        width: 65%;
    }

    .a{
        margin: auto;
        float: center;
        width: 45%;
        padding: 0.5%;
        border: 5px dashed grey;
    }

    .full{
        width: 90%;
    }
    .remaining{
        width: 5%;
    }

    .submit{
        float: right;
    }
</style>
{{#if this.buggy}}
<style>
    h1 {
        color: red;
    }
</style>
{{/if}}
<form action="/"><input class="submit" type="submit" value="logout"></form>
<h1>Group Chat: {{{group_name}}} | {{{user_name}}} {{#if admin}}(ADMIN){{/if}}</h1> 
<br>
<div>
    <div class = "full">
        <h2 class="inline">Chats</h2>
        {{#each chats}}
        <div class="inline">
            <br><form action="/chat/{{{../group_name}}}/{{{../user_name}}}/{{{this.index}}}/delete" method="post" class="inline secret_form ">
            <input class="inline" type="submit" value="x">
            </form>
            <p>(<b>{{{this.sender}}}</b> -> {{{this.recipient}}})&emsp;{{{this.content}}} &emsp;</p><i class = "r">{{{this.timestamp}}}</i>
        </div>
            {{else}}
            <br><p>[no messages yet]</p>
            
        </div>
        {{/each}}
    </div>
    <div class="remaining">
        {{#each chats}}
        
        {{/each}}
    </div>
</div>
<div>
    <form action="/chat/{{group_name}}/{{user_name}}/send" method="post" class="column a">
        <h2 class="inline">Send a Chat</h2>
            <input class="submit" type="submit" value="Submit">
        <br>
        <p>To:</p> <input name="recipient" type="text"> 
        <br>
        <input class="full" name="content" type="text">
    </form>
</div>
