{{#*inline "page"}}
<h1>Lecture {{{ lec_id }}} Grades</h1>

<h2>Current Grades</h2>
<ul>
    {{#each answers}}
    <li>{{{ this.id }}}: {{{ this.answer }}}: {{{ this.grade }}} &ndash; <a href="/grades/{{{ this.user }}}/{{{ ../lec_id }}}/{{{ this.id }}}">edit</a>
        {{/each}}
</ul>

{{/inline}}
{{~> (parent)~}}